<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>
<div class="lt-layout">
  <div class="layout__head">
    <header class="topbar container  lt-py-3 lt-mb-9" data-topbar>
      <div class="container-inner">
        <div class="topbar__inner lt-d-lg-flex">
          <div class="lt-d-flex lt-justify-content-between lt-align-items-center lt-pe-lg-4">
            {{#link 'help_center'}}
              <img class="topbar__logo lt-flex-shrink-0" src="{{settings.logo}}" alt="{{t 'logo'}}">
            {{/link}}
            <button type="button" role="button" aria-label="Toggle Navigation" class="lines-button x lt-d-lg-none" data-toggle-menu>
              <span class="lines"></span>
            </button>
          </div>
          <div class="topbar__menu">
            <div class="topbar__collapse lt-d-lg-flex lt-align-items-lg-center lt-justify-content-lg-between" data-menu>
              <ul class="lt-list-unstyled lt-my-0 lt-mx-auto lt-ms-lg-0 lt-me-lg-auto lt-d-flex lt-align-items-center topbar__navigation">
                {{#if settings.topbar_link_1_toggle}}
                  <li>
                    <a class="topbar__link" href="{{#if settings.toggle_translations}}{{dc settings.topbar_link_1_url}}{{else}}{{settings.topbar_link_1_url}}{{/if}}">
                      {{#if settings.toggle_translations}}
                        {{dc settings.topbar_link_1_title}}
                      {{else}}
                        {{settings.topbar_link_1_title}}
                      {{/if}}
                    </a>
                  </li>
                {{/if}}

                {{#if settings.topbar_link_2_toggle}}
                  <li>
                    <a class="topbar__link" href="{{#if settings.toggle_translations}}{{dc settings.topbar_link_2_url}}{{else}}{{settings.topbar_link_2_url}}{{/if}}">
                      {{#if settings.toggle_translations}}
                        {{dc settings.topbar_link_2_title}}
                      {{else}}
                        {{settings.topbar_link_2_title}}
                      {{/if}}
                    </a>
                  </li>
                {{/if}}

                {{#if settings.topbar_link_3_toggle}}
                  <li>
                    <a class="topbar__link" href="{{#if settings.toggle_translations}}{{dc settings.topbar_link_3_url}}{{else}}{{settings.topbar_link_3_url}}{{/if}}">
                      {{#if settings.toggle_translations}}
                        {{dc settings.topbar_link_3_title}}
                      {{else}}
                        {{settings.topbar_link_3_title}}
                      {{/if}}
                    </a>
                  </li>
                {{/if}}

                {{#if settings.topbar_link_4_toggle}}
                  <li>
                    <a class="topbar__link" href="{{#if settings.toggle_translations}}{{dc settings.topbar_link_4_url}}{{else}}{{settings.topbar_link_4_url}}{{/if}}">
                      {{#if settings.toggle_translations}}
                        {{dc settings.topbar_link_4_title}}
                      {{else}}
                        {{settings.topbar_link_4_title}}
                      {{/if}}
                    </a>
                  </li>
                {{/if}}

                {{#if settings.topbar_link_5_toggle}}
                  <li>
                    <a class="topbar__link" href="{{#if settings.toggle_translations}}{{dc settings.topbar_link_5_url}}{{else}}{{settings.topbar_link_5_url}}{{/if}}">
                      {{#if settings.toggle_translations}}
                        {{dc settings.topbar_link_5_title}}
                      {{else}}
                        {{settings.topbar_link_5_title}}
                      {{/if}}
                    </a>
                  </li>
                {{/if}}
              </ul>
              <div class="btn-container">
                <a class="btn btn-outline-success" title="Sign In" id="signInButton" style="margin-right: 0.75rem;" href="https://uptime.com/login">Sign In</a>
                <a class="btn btn-success" title="Try For Free" id="registerButton" href="https://uptime.com/accounts/register">Try For Free</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div class="layout__main">
